.error{
    color: red;
}



*{
    color: black;
}
a {
    text-decoration: none;
    
}


.btnBooks {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 1em;
    padding: 1em;
    border: 1px solid lightgreen;
}

.btnBooks label {
    color: green;
}



.dash-head {
    /* background: red; */
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    padding-top: 1em;
    /* background-color: red; */
}

.logout {
    width: 6em;
}
/* .dash-head {
    background-color: red;
 
    height: 35px;
    padding: 0.7em;
    border-radius: 0.5em;
} */

.addbutton {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 1em;
}

#btnAddBook {
    width: 10em;
  
    /* float:left; */
}

.dash-head button a {
    
    color: white;
}
/* 
button {

    border: 1px solid #f2f2f2;
} */

/* form button {
    background-color: green; 
    padding: 0.7em;
    border-radius: 0.5em;
}

form button a {
    
    color: white;
} */


.modal div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: fit-content;
}

#overlay {
    position: fixed;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0,.5);
    pointer-events: none;
    
   
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    z-index: 10;
    padding: 1.5em;
    height: 60%;
    width: 60%;
    border-radius: 1em;
}

/* #overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

 */
