* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dash-header {
    padding:  0 1em;
    /* background: green; */
}
 .dash-head, .dash-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .dash-head {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* background: red; */
    align-items: center;
    width: 10em;
 }

 h2 {
    margin-top: 1em;
    margin-left: 0.5em;
    text-align: center;
    /* background-color: green; */
 }


 .fa-arrow-left {
    color: white;
 }

.balance-info{
    padding: 0.5em;
    margin: 1em 1em 0em 1em;
    border: 2px solid #f2f2f2;
    border-radius: 0.5em;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;

}
.balance-info > div {
    padding-left: 1em;
    border-left: 2px solid #f2f2f2;
    /* background-color: red; */
    width: 100%;
}

.balance-cash {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

.inner {
    margin-left: 1em;
}
.button-search {
    margin: 1em;
}

.fa-circle-plus,.fa-circle-minus {
    font-size: 22px;
    color: green;
}
.fa-circle-minus {
 
    color: red;
}
.uil-equal-circle {
    font-size: 24px;
    color: blue;
}

.button-search{
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
    
}

.search {
    width: 60%;
}

.inout-button {
    display: flex;
    /* background-color: red; */
    justify-content: space-evenly;
    width: 40%;
}

.button a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
}

.button {
    border: none;
    border-radius: 0.5em;
    width: 7em;
    padding: 0.5em 0.5em;
}
.cashin {
    background-color: green;
}
.cashout {
    background: red;
}

.dash-container {
    /* margin: 1em auto; */
    height: 700px;
    /* background-color: aqua; */
    padding: 1em;
    /* width: 100%; */
    
}

.thead, .trans-container{
    /* padding: 0 1em; */
    display: grid;
    grid-template-columns: 5fr 8.5fr 5fr 4fr 5fr 3fr 5fr;
    align-items: center;
    /* text-align: center; */
}



/* .trans-container div {
    border: 1px solid red;


} */
    
.thead {
    padding: 1em;

    background-color: #f2f2f2;
    /* width: 90%; */
}


.transaction {
    /* background-color: dodgerblue; */
    padding: 1em;
    margin: 1em 0;
    border-bottom: 2px solid #f2f2f2;
    /* height: 20px; */
    /* width: 90%; */
}
.update-delete {
    display: flex;
    justify-content: space-evenly;

}

.update, .delete {
    width: 3em;
}